.hotel-card-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 484px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(45, 156, 219, 0.5);
  border-radius: 15px;
  align-items: center;
}

.hotel-card-img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  max-height: 321px;
  max-width: 484px;
}

.hotel-card-title {
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.hotel-card-text {
  flex: 1;
  padding: 0 20px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 143.19%;
}

.hotel-card-img > img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotelSwiper .swiper-slide {
  width: 500px;
  height: unset !important;
  display: flex !important;
  flex-direction: row;
  padding-bottom: 20px;
  align-items: stretch;
}

.hotel-card-wrapper > .card-button {
  margin: 20px 0;
  min-height: 44px;
}

@media (max-width: 1603px) {
  .hotel-card-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
  .hotel-card-text {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (max-width: 748px) {
  .hotel-card-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }
  .hotel-card-text {
    font-size: 13px;
    line-height: 21px;
  }
}
