.footer {
  background-image: url("../img/footer_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: 20px;
}

.footer .container {
  margin: 0 auto;
}

.footer-logo {
  padding-top: 55px;
  position: absolute;
  left: calc(50% - 286px / 2);
}

.footer-logo > img {
  width: 100%;
}

.footer-top {
  max-width: 1572px;
  margin: 0 auto;
}

.footer-bottom {
  max-width: 1572px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
}

.footer-menu {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-left,
.bottom-center,
.bottom-right {
  width: 33%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.bottom-center,
.bottom-right {
  align-items: center;
}

.bottom-left,
.bottom-right {
  margin-bottom: 20px;
}

.footer .row {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.footer-our-partner {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 260px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.register-number {
  width: 110px;
  height: 60px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.footer-phone {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #341eae;
}

.footer-ico {
  width: 36px;
  height: 36px;
  margin-right: 15px;
}

.rights {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.bottom-right > p {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.footer-email > p,
.footer-manager > p {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.footer-email > p > span {
  font-weight: 500;
  color: #2d9cdb;
}

.footer-manager > p > span {
  font-weight: 500;
  color: #341eae;
}

.anchor {
  width: 169px;
  height: 177px;
}

.footer-world > img {
  width: 349px;
  height: 367px;
}

@media (max-width: 1603px) {
  .footer-menu {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer-logo {
    width: 149px;
    height: 66px;
    display: block;
    position: unset;
    padding: 0;
  }
  .footer-top {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .page-button {
    height: 55px;
    width: 115px;
  }
  .page-button > a {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
  .bottom-left,
  .bottom-center,
  .bottom-right {
    align-items: center;
  }
  .footer-phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }
  .footer-our-partner {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }
  .footer-our-partner > img {
    width: 141px;
    height: 36px;
  }
  .rosturism > img {
    width: 160px;
    height: 61px;
  }
  .rosturism {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .footer-ico {
    width: 24px;
    height: 24px;
  }
  .footer-icons {
    margin-left: -50px !important;
  }
  .rights {
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    margin-left: 20px;
    width: 235px;
  }
  .anchor {
    width: 148px;
    height: 155px;
  }
  .footer-world > img {
    width: 260px;
    height: 273px;
  }
  .bottom-right > p {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 748px) {
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-world > img {
    width: 146px;
    height: 154px;
  }
  .footer-menu {
    display: none;
  }
  .footer-icons {
    margin: 20px 0 !important;
  }
  .rights {
    margin-left: 0;
    width: auto;
    text-align: center;
  }
  .footer-top {
    padding: 0 10px;
  }
  .footer .row {
    width: 100%;
    justify-content: space-evenly !important;
  }
}
