.booking-card-wrapper {
  width: 100%;
  height: 100%;
  max-width: 501px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #2d9cdb;
  border-radius: 15px;
  padding-bottom: 9px;
}

.class-auto > .card-button {
  margin: 0 auto;
}

.booking-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2d9cdb;
  border-radius: 15px;
  padding-bottom: 9px;
}

.booking-card > img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  filter: brightness(65%);
}

.booking-card > p {
  position: absolute;
  top: calc(50% - 40px / 2);
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 69px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-shadow: 0px 4px 4px #000000;
}

@media (max-width: 1603px) {
  .booking-card > p {
    line-height: 48px;
    font-size: 28px;
    top: calc(50% - 28px / 2);
  }
}

@media (max-width: 748px) {
  .booking-card {
    padding-bottom: 5px;
  }
  .booking-card > p {
    line-height: 34px;
    font-size: 20px;
    top: calc(50% - 20px / 2);
  }
}
