.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}

.cards > .navigation {
  display: flex;
  justify-content: center;
}

.card {
  width: 30%;
  display: flex;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 4px 4px rgb(45 156 219 / 50%);
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.card-top {
  position: relative;
  height: 350px;
}

.card-top > img {
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
}

.cards > .container {
  padding: 0;
}

.marker {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.card-text {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  font-family: "Roboto", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

body > div.indent > div.card-container.container > div > button {
  margin-top: 30px;
}

.yellow > p {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  transform: rotate(-40.9deg);
  position: absolute;
  top: 30px;
}

.red > p {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  transform: rotate(-40.9deg);
  position: absolute;
  top: 30px;
  left: 10px;
  color: #ffffff;
}

@media (max-width: 1603px) {
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  .card-text {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .card {
    flex-basis: 42%;
  }
  .card-text {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 775px) {
  .card {
    flex-basis: 100%;
  }
  .card-top {
    width: 100%;
  }
  .card-top > img {
    width: 100%;
  }
  .card-container {
    justify-content: center;
  }
  .card-title {
    font-size: 15px;
    font-weight: bold;
  }
  .card-text {
    font-size: 13px;
  }
}
