.transfer > p {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #000000;
}

.transfer-container {
  max-width: 1572px;
  margin: 40px auto;
  position: relative;
}

.subhead-text {
  text-align: center;
  width: fit-content;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #eff5ff;
  position: absolute;
  top: -20px;
  left: calc(50% - 951px / 2);
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 53px;
  color: #393185;
}

.transfer-wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  border: 2px solid #393185;
  border-radius: 15px;
}

.transfer-card {
  margin: 20px 0;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 553px;
}

.transfer-card > img {
  max-width: 80%;
  border-radius: 15px;
}

.transfer-text-danger {
  position: absolute;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #c5262a;
  max-width: 238px;
}

.car-name {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 63px;
  color: #393185;
}

.car-text {
  margin-top: 3px;
  margin-bottom: 2px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.transfer-wrapper > div > button {
  margin-top: 5px;
}

@media (max-width: 1400px) {
  .transfer-text-danger {
    font-size: 15px;
    max-width: 150px;
  }
}

@media (max-width: 1365px) {
  .transfer-text-danger {
    font-size: 17px;
    max-width: 280px;
  }
  .transfer-container {
    max-width: 724px;
  }
  .subhead-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    left: calc(50% - 618px / 2);
  }
}

@media (max-width: 748px) {
  .subhead-text {
    font-weight: 700;
    font-size: 15px;
    line-height: 33px;
    left: calc(50% - 268px / 2);
    text-align: center;
    width: 268px;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
  }
}
