.service-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.service-text {
  flex-basis: 50%;
}


.service-gallery {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  flex-basis: 50%;
}

.service-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.service-text {
  font-size: 17px;
  flex-basis: 50%;

}



.service > .head-text {
  margin-bottom: 40px;
}

.service-gallery > img:nth-child(1) {
  border-top-left-radius: 15px;
}

.service-gallery > img:nth-child(2) {
  border-top-right-radius: 15px;
}

.service-gallery > img:nth-child(3) {
  border-bottom-left-radius: 15px;
}

.service-gallery > img:nth-child(4) {
  border-bottom-right-radius: 15px;
}


@media (max-width: 1300px) {
  .service-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
  }


}

@media (max-width: 771px) {

}


