/* Columb's project styles*/

body {
  display: block;
  background-color: #eff5ff;
}

body img {
  object-fit: cover;
}

a {
  color: #000;
}

nav.menu {
  position: relative;
}

.menu-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 5px;
  padding-bottom: 20px;
  min-height: 55px;
}

.page-marker {
  display: none;
  margin-top: 5px;
  width: 7px;
  height: 7px;
  background: #393185;
  border-radius: 7px;
}

.menu-item > a {
  text-decoration: none;
  text-align: center;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #000000;
}

.sub-menu > .menu-item > a {
  font-size: 16px;
}

.page-button.active > a {
  color: #393185;
}

.page-button.active > .page-marker {
  display: block;
}

.ml-100 {
  padding-left: 20px;
}

.mr-100 {
  padding-right: 20px;
}

.link-logo {
  text-decoration: none;
}

.sub-menu {
  width: 201px;
  display: none;
  position: absolute;
  padding: 0;
  background: #ffffff;
  border-radius: 0 0 15px 15px;
  text-align: center;
  top: -250px;
  transition: top 0.3s ease-in-out;
}

.sub-menu .menu-item {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 0;
  color: #000000;
}

.menu-item:hover .sub-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: 51px;
}

.menu-item:last-child:hover .sub-menu {
  right: 0;
}

.container {
  max-width: 1572px;
  margin: 20px auto;
  padding-left: 16px;
  padding-right: 16px;
}

.right-button,
.card-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 175px;
  min-height: 44px;
  background: linear-gradient(180deg, #0c669a 44.27%, #34b1f9 100%);
  border: 1px solid #0c669a;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
}

.card-button a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.added_to_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.76);
  width: 175px;
  height: 44px;
  background: #393185;
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.right-button:active,
.card-button:active {
  background: #393185;
}

.container > .more-button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > .more-button-row > .left-text {
  margin: 0;
}

.more-button-mobile {
  display: none;
}

.line {
  width: 50%;
  border: 4px solid #393185;
}

.head-text {
  text-align: center;
  width: fit-content;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  color: #393185;
}

/*Заказать звонок*/

.call-order:hover {
  cursor: pointer;
}

.call-order {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: fixed;
  width: 247px;
  height: 64px;
  left: -108px;
  top: 50%;
  background: #c5262a;
  border: 1px solid #c5262a;
  border-radius: 15px;
  transform: rotate(-90deg);
  z-index: 999;
  align-items: center;
}

.call-order > p {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.76);
}

.menu-button-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 16px;
}

.menu-button-mobile > .line {
  border: 2px solid #2d9cdb;
}

.menu-button-mobile:hover > .line {
  border: 2px solid #393185;
}

.menu-button-mobile > .line.big {
  width: 30px;
}

.menu-button-mobile > .line.small {
  width: 22px;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
}

.text-accented {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  color: #393185;
}

.bold {
  font-weight: bold !important;
}

.app-divider {
  margin: 25px 0;
  width: 100%;
  height: 1px;
  background-image: url("data:image/svg+xml,%3csvg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23D9D9D9FF' stroke-width='14' stroke-dasharray='14%2c 50' stroke-dashoffset='56' stroke-linecap='square'/%3e%3c/svg%3e");
}

@media (max-width: 1603px) {
  .more-button {
    display: none;
  }
  .more-button-mobile {
    display: block;
  }
  .head-text {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .line {
    border: 2px solid #393185;
  }
  .container > .more-button-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-accented {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (max-width: 748px) {
  .head-text {
    font-size: 20px;
  }
  .right-button,
  .card-button {
    font-size: 13px;
  }
  .text-accented {
    font-size: 13px;
    line-height: 21px;
  }
}

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

p {
  margin: 0;
}

.container > p,
.text p,
.text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}

.hotel-desc > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}

@media (max-width: 1603px) {
  .menu-item > a {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
  .container > p,
  .text p,
  .text {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (max-width: 1385px) {
}

@media (max-width: 748px) {
  .container > p,
  .text p,
  .text {
    font-size: 13px;
    line-height: 21px;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* .mobile-menu {
  position: relative;
  width: 128px;
  background: #ffffff;
  border-radius: 0px 0px 15px 15px;
  transition: all 0.3s;
  transform: scaleX(0);
  left: 40px;
} */

.menu-button-mobile {
  cursor: pointer;
  display: none;
}

.mobile-menu.active {
  left: -39px;
  transform: scaleX(1);
}

.line {
  margin: 2px 0;
}

@media (max-width: 1200px) {
  .mobile-menu {
    padding: 0;
  }
  .menu-button-mobile {
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
    margin-right: 10px;
  }
}

@media (max-width: 748px) {
  .page-button {
    height: 42px;
    width: 120px;
  }
  .mobile-menu li > a {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
  }
  .mobile-menu > .menu-item {
    height: 42px;
    width: 120px;
  }
  .mobile-menu > .ml-100 {
    padding: 0;
  }
  #footer-menu > .menu-button-mobile {
    position: static;
  }
}

@media (max-width: 1603px) {
  .call-order {
    width: 211px;
    height: 59px;
    left: -90px;
  }
  .call-order > p {
    font-size: 14px;
  }
}

@media (max-width: 748px) {
  .call-order {
    left: -71px;
    width: 173px;
    height: 30px;
    border-radius: 0px 0px 15px 15px;
  }
  .call-order > p {
    font-size: 11px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.76);
  }
}

.return-to-shop > .card-button {
  width: 235px;
}

.cart-empty {
  text-align: center;
}

.special-service-btn {
  padding-top: 20px;
}

.popup-screen-mice {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%) scale(0);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.83);
  z-index: 2;
}

.popup-screen-mice.active {
  transform: translateX(0%) scale(100%);
}

.popup-screen-mice.active > .popup-outer {
  background: #2d9cdb;
}

.feedback {
  font-family: "Roboto", sans-serif;
  padding: 16px;
  box-sizing: border-box;
}

.feedback-input {
  margin-bottom: 10px;
}

.feedback-input input {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: none;
  padding: 0 16px;
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
}

.feedback-input textarea {
  width: 100%;
  min-height: 70px;
  height: 70px;
  border-radius: 15px;
  border: none;
  padding: 16px;
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
  display: block;
}

.feedback-submit {
  position: relative;
  text-align: center;
}

.feedback-submit input {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 100%;
  max-width: 175px;
  height: 44px;
  background: linear-gradient(180deg, #0c669a 44.27%, #34b1f9 100%);
  border: 1px solid #0c669a;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
}

.feedback-submit .wpcf7-spinner {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.feedback-acceptance {
  color: #fff;
}

.popup-feedback .wpcf7-response-output {
  max-width: 400px;
  color: #fff;
  text-align: center;
  margin: 10px 0 0;
}

.feedback-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.feedback-col {
  flex-basis: calc((100% - 2 * 16px) / 3);
}

.feedback-col.feedback-col-wide {
  flex-basis: 100%;
}

.feedback-col .feedback-input {
  margin-bottom: 0;
}

.wpcf7-response-output {
  margin: 10px 0 0 !important;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.popup-screen {
  overflow: auto;
}

@media (max-width: 767.98px) {
  .feedback-col {
    flex-basis: 100%;
  }
}
