.mobile-menu {
  position: relative;
  width: 128px;
  background: #ffffff;
  border-radius: 0px 0px 15px 15px;
  transition: all 0.3s;
  transform: scaleX(0);
  left: 40px;
}

.mobile-menu.active {
  left: -39px;
  transform: scaleX(1);
}

.line {
  margin: 2px 0;
}

@media (max-width: 748px) {
  .sub-menu {
    right: 120px;
  }
}
