.cart-card-wrapper {
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(45, 156, 219, 0.5);
  border-radius: 15px;
  width: 100%;
}

.cart-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.cart-card-img {
  width: 40%;
}

.cart-card-img > .link-basket {
  display: block;
  height: 435px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.link-basket > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.cart-card-content {
  padding: 30px 0;
  min-height: 100%;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cart-card-info-row {
  row-gap: 30px;
  margin: 60px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-card-info-col {
  max-width: 160px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 15px;
}

.cart-card-title {
  text-align: center;
  text-decoration: none;
  margin-bottom: 35px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.info-title {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.info-desc {
  text-align: center;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #000000;
}

.cart-card-close-btn {
  position: absolute;
  top: 5px;
  right: 8px;
}

.cart-bill {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.cart-bill > p {
  text-align: center;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

@media (max-width: 1365px) {
  .cart-card-img > img {
    height: 522px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}

@media (max-width: 1200px) {
  .cart-card-wrapper {
    flex-direction: column;
  }
  .cart-card-img {
    flex-basis: unset;
    width: 100%;
    height: 100%;
  }
  .cart-card-img > img {
    width: 100%;
    max-height: 383px;
  }
  .cart-card-info-col {
    max-width: 130px;
  }
  .cart-card-title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 23px;
  }
  .info-title {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: unset;
  }
  .info-desc {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: unset;
  }
  .cart-bill > p {
    font-size: 20px;
    line-height: 23px;
  }
}

@media (max-width: 684px) {
  .cart-card-info-row {
    justify-content: space-between;
  }
  .cart-card-img > img {
    max-height: 207px;
  }
  .cart-card-info-col {
    max-width: 110px;
  }
  .cart-card-title {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 18px;
  }
  .info-title {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: unset;
  }
  .info-desc {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: unset;
  }
  .cart-bill > p {
    font-size: 15px;
    line-height: 18px;
  }
}
