.map {
  height: 587px;
  margin: 20px auto;
  width: 90%;
  border: 13px solid #393185;
  cursor: pointer;
}

.map > img {
  width: 100%;
  height: 100%;
}


.popup-map-screen {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: .3s ease-in-out;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.83);
  z-index: 2;
}

.popup-map-screen.active {
  transform: scale(1);
}

.popup-map {
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 80%;
  display: none;
}
.popup-map>iframe{
  width: 100%;
  height: 100%;
}

.popup-map-screen.active > .popup-map {
  display: flex;
}



@media (max-width: 880px) {
  .about > .content.no-reverse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
