.news-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.news-card {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.news-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.news-card-content > p {
  display: block;
  margin-block-start: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}

.news-card-img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  padding-bottom: 8px;
}

.news-card-img > img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.news-card-title {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 51px;
  letter-spacing: 0.03em;
  color: #393185;
  text-align: center;
}

@media (max-width: 1100px) {
  .news-card {
    flex-basis: 90%;
  }
}
