.info-container img {
  height: 100%;
  width: 100%;
  max-width: 725px;
  max-height: 465px;
  object-fit: cover;
}
.cursive {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
}

.hidden-text {
  display: none;
}

.hotels-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 100px;
}

.pc-text {
  flex-basis: 100%;
}

.info-container {
  height: 100%;
  flex-basis: 100%;
}

.secondary-list{
  font-weight:normal;
}

.docSwiper .swiper-slide {
  height: unset!important;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  align-items: stretch;
}
.doc-card-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 50px;
}

.doc-card{
  height: 100%;
  width: 100%;
  max-width: 268px;
  max-height: 371px;
  padding: 10px;
  background-color: #2D9CDB;
}
.doc-card img{
  height: 100%;
  width: 100%;
  max-width: 268px;
  max-height: 371px;
}



@media (max-width: 1200px) {
  .hotels-info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
  }

  .info-container img {
    max-width: unset;
  }

  .info-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
    height: 100%;
  }

  .hidden-text {
    display: unset;
  }

  .pc-text {
    display: none;
  }
}

@media (max-width: 1024px) {
  .doc-card:last-child{
    display: none;
  }
}


